@font-face {
  font-family: "Playfair";
  font-weight: 400;
  src: url("../../public/assets/fonts/playfairdisplay-regular-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/playfairdisplay-regular-webfont.woff")
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Playfair";
  font-weight: 400;
  font-style: italic;
  src: url("../../public/assets/fonts/playfairdisplay-italic-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/playfairdisplay-italic-webfont.woff")
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Playfair";
  font-weight: 900;
  src: url("../../public/assets/fonts/playfairdisplay-bold-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/playfairdisplay-bold-webfont.woff")
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Modak";
  font-weight: 400;
  src: url("../../public/assets/fonts/modak-regular-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/modak-regular-webfont.woff") format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
  --color-background: rgb(251, 251, 251);
  --color-background-dark: rgb(4, 4, 4);

  --color-text: rgb(0, 0, 0);
  --color-text-dark: rgb(255, 255, 255);
  --color-primary: rgb(77, 59, 195);
  --color-primary-dark: rgb(195, 186, 255);
  --color-secondary: rgb(99, 81, 222);
  --color-secondary-dark: rgb(156, 141, 255);
  --color-slate: rgb(221, 221, 221);
}
body {
  min-width: 300px;
  margin: 0;
  font-family: "Playfair", serif;
  font-size: 1.2em;
}

.main {
  color: var(--color-text);
}

.centered {
  max-width: 70%;
  margin: auto;
}

.home {
  padding-top: 2em;
  font-size: 2.5em;
  line-height: 150%;
}

.about {
  margin-top: 5em;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 150%;
  display: flex;
  flex-direction: column;
}

.about__intro {
  display: flex;
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-secondary);
}

a.active {
  color: var(--color-primary);
}

.about__image {
  max-width: 100%;
  padding: 1em;
}

@media screen and (max-width: 900px) {
  .about__intro {
    flex-direction: column;
  }
  .about__image {
    align-self: flex-end;
  }
}

.blog__illustration,
.blog__cover {
  display: flex;
  justify-content: center;
  width: 100%;
}

.blog__illustration img {
  padding: 2em 0;
  width: 80%;
}

.skeleton {
  display: flex;
  max-width: 100%;
  aspect-ratio: 1600 / 840;
}

.skeleton div {
  background-color: var(--color-slate);
}

.blog__cover img,
.skeleton div {
  padding: 2em 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .about {
    margin-top: 5em;
    font-weight: 400;
    font-size: 1.2em;
  }
}

.dark {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

.dark a {
  color: var(--color-text-dark);
}

.dark a:hover {
  color: var(--color-secondary-dark);
}

.dark a.active {
  color: var(--color-primary-dark);
}

.dark .footer a,
.dark .blog div > a,
.dark .projects div > a,
.dark .menu .active {
  color: var(--color-secondary-dark);
}
