@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  src: url('/assets/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/playfairdisplay-regular-webfont.woff') format('woff')
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  src: url('/assets/fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/playfairdisplay-italic-webfont.woff') format('woff')
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 900;
  src: url('/assets/fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/playfairdisplay-bold-webfont.woff') format('woff')
}

* {
  box-sizing: border-box;
}
body {
  min-width: 300px;
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
}

.main {
  color: black;
}

.about {
  margin-top: 5em;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 150%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.5em;
}
nav img {
  max-width: 60%;
  width: auto;
}
nav a {
  flex-grow: 1;
}
nav div {
  flex-grow: 4;
}
nav ul {
  list-style: none;
}
.about a,
nav a,
.blog a {
  color: black;
}
nav .menu a:hover {
  color: slateblue;
}
.menu .active {
  color: rgb(72, 48, 226);
}
.blog__illustration, .blog__cover {
 display: flex;
 justify-content: center;
 width: 100%;
}
.blog__illustration img {
  padding: 2em 0 ;
  width: 80%
}
.blog__cover img {
  padding: 2em 0 ;
  width: 100%
  }
@media screen and (max-width: 800px) {
  nav {
  
    justify-content: flex-start;
    align-items: flex-start;
  }
  nav img {
    max-width: 70%;
    width: auto;
  }

  nav .menu {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  nav .menu a {
    padding: 0.2em;
  }
  .about {
    margin-top: 5em;
    font-weight: 400;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  nav img {
    max-width: 80%;
    width: auto;
  }
}

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.menu a {
  text-decoration: none;
  margin-inline-start: 5px;
}
.content {
  max-width: 70%;
  margin: auto;
  margin-top: 2em;
}
.blog div > a,
.projects div > a {
  color: rgb(72, 48, 226);
}

.blog div > a:hover,
.projects div > a:hover {
  color: rgb(188, 178, 255);
}

.dark {
  background-color: black;
}

.dark .main,
.dark nav a,
.dark .about,
.dark .main a,
.dark .blog,
.dark .projects,
.dark h2 {
  color: white;
}
.dark .footer a,
.dark .blog div > a,
.dark .projects div > a,
.dark .menu .active {
  color: rgb(188, 178, 255);
}
.dark .blog div > a:hover,
.dark .projects div > a:hover {
  color: rgb(72, 48, 226);
}
.dark .footer a:hover,
.dark .menu a:hover {
  color: slateblue;
}
